<nav class="pagination-wrapper flex justify-center items-center gap-x-2 md:gap-x-4 mt-12 md:mt-16 text-sm" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
  {%- if paginate.parts.size > 0 -%}
    {%- if paginate.previous -%}
      <a
        href="{{ paginate.previous.url }}"
        class="hidden md:flex
          items-center
          justify-center
          h-8
          px-6
          rounded-full
          border
          border-[#1a2530] hover:border-[#34506d]
          bg-[#1a2530] hover:bg-[#34506d]
          text-[#ffe8c9]
          transition-colors
          duration-300"
        aria-label="{{ 'general.pagination.previous' | t }}"
      >
        <span>前へ</span>
      </a>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <a
          href="{{ part.url }}"
          class="flex
            items-center
            justify-center
            w-8
            h-8
            rounded-full
            border
            border-[#1a2530] hover:border-[#34506d]
            hover:bg-[#34506d]
            hover:text-[#ffe8c9]
            transition-colors
            duration-300"
          aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
        >
          {{- part.title -}}
        </a>
      {%- else -%}
        <span class="flex
          items-center
          justify-center
          w-8
          h-8
          rounded-full
          border
          border-[#1a2530]
          bg-[#1a2530]
          text-[#ffe8c9]"
          aria-current="page"
          aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{- part.title -}}</span>
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
      <a
        href="{{ paginate.next.url }}"
        class="hidden md:flex
          items-center
          justify-center
          h-8
          px-6
          rounded-full
          border
          border-[#1a2530] hover:border-[#34506d]
          bg-[#1a2530] hover:bg-[#34506d]
          text-[#ffe8c9]
          transition-colors
          duration-300"
        aria-label="{{ 'general.pagination.next' | t }}"
      >
        <span>次へ</span>
      </a>
    {%- endif -%}
  {%- else -%}
    <span class="flex
      items-center
      justify-center
      w-8
      h-8
      rounded-full
      border
      border-[#1a2530]
      bg-[#1a2530]
      text-[#ffe8c9]"
      aria-current="page"
      aria-label="1">1</span>
{%- endif -%}
</nav>

{%- if paginate.parts.size > 0 -%}
  <nav class="flex md:hidden justify-center items-center gap-x-2 mt-4 text-sm">
    {%- if paginate.previous -%}
      <a
        href="{{ paginate.previous.url }}"
        class="hidden md:flex
          items-center
          justify-center
          h-8
          px-6
          rounded-full
          border
          border-[#1a2530] hover:border-[#34506d]
          bg-[#1a2530] hover:bg-[#34506d]
          text-[#ffe8c9]
          transition-colors
          duration-300"
        aria-label="{{ 'general.pagination.previous' | t }}"
      >
        <span>前へ</span>
      </a>
    {%- endif -%}

    {%- if paginate.next -%}
      <a
        href="{{ paginate.next.url }}"
        class="hidden md:flex
          items-center
          justify-center
          h-8
          px-6
          rounded-full
          border
          border-[#1a2530] hover:border-[#34506d]
          bg-[#1a2530] hover:bg-[#34506d]
          text-[#ffe8c9]
          transition-colors
          duration-300"
        aria-label="{{ 'general.pagination.next' | t }}"
      >
        <span>次へ</span>
      </a>
    {%- endif -%}
  </nav>
{%- endif -%}