<footer class="text-white px-2 md:px-[30px]">
  {% comment %}
    背景画像を動的に設定します。
    section.settings.background_imageが設定されていればそれを使用し、
    なければデフォルトの 'footer_bg.jpg' を使用します。
  {% endcomment %}
   {%- liquid
     assign bgImage = "footer_bg.jpg" | asset_url
     if section.settings.background_image
      assign bgImage = section.settings.background_image | image_url: width: 1920
     endif
   -%}
  {%- style -%}
    .footer-background {
      background-image: url('{{ bgImage }}');
    }
  {%- endstyle -%}

  <div class="footer-background bg-cover bg-center w-full block-box">
    <div class="container">
      <div class="lg:flex justify-between items-start">
        <div class="lg:basis-4/12 text-center lg:text-left">
          {%- liquid
            assign footer_logo = 'logo-min.png' | asset_url
            assign footer_alt = section.settings.footer_logo.alt | default: shop.name | escape
            assign footer_w = 144
            assign footer_h = 86
            if section.settings.footer_logo != blank
              assign footer_logo = section.settings.footer_logo | image_url: width: 380
              assign footer_h = 144 | divided_by: section.settings.footer_logo.aspect_ratio | round
              endif
          -%}
          <a href="{{ routes.root_url }}" class="block w-36 md:w-[190px] mx-auto lg:mx-0">
            <img 
              src="{{ footer_logo }}" 
              alt="{{ footer_alt }}"
              class="w-full h-auto transition filter hover:brightness-150 duration-300"
              width="{{ footer_w }}"
              height="{{ footer_h }}"
              loading="lazy">
          </a>

          <div class="mt-6 leading-relaxed">
            {{ section.settings.company_name | escape }}<br>
            <span class="text-sm">{{ section.settings.company_address | escape }}</span>
          </div>

          {% if section.settings.phone_number != blank %}
            <div class="mt-3 leading-relaxed text-sm">
              <a href="tel:{{ section.settings.phone_number | remove: "-" }}">{{ section.settings.phone_number | escape }}</a>
            </div>
          {% endif %}

          {% if section.settings.business_hours != blank %}
            <div class="mt-3 leading-relaxed text-sm">
              {{ section.settings.business_hours | newline_to_br }}
            </div>
          {% endif %}

          {% if section.settings.button_link != blank and section.settings.button_label != blank %}
            <div class="mt-8 text-center lg:text-left">
              <a href="{{ section.settings.button_link }}" class="inline-block btn text-center align-middle">
                <span>
                  <span class="!py-4 !px-7 md:!px-12 leading-none">{{ section.settings.button_label | escape }}</span>
                </span>
                <span class="btn-border"></span>
              </a>
            </div>
          {% endif %}
        </div>

        {% comment %} フッターメニューを動的に生成 {% endcomment %}
        <div class="footer-link flex flex-wrap md:flex-nowrap md:justify-center md:justify-end gap-x-5 md:gap-x-12 !leading-loose whitespace-nowrap text-xs md:text-base mt-8 lg:mt-0">
          {%- for i in (1..3) -%}
            {%- assign menu_setting_id = 'menu_' | append: i -%}
            {%- assign menu_to_display = section.settings[menu_setting_id] -%}
            {%- if menu_to_display != blank and menu_to_display.links.size > 0 -%}
              <ul class="{% if forloop.index < 3 %}grow md:grow-0{% else %}w-full md:w-auto mt-3 md:mt-0 columns-2 md:columns-1{% endif %}">
                {%- for link in menu_to_display.links -%}
                  <li>
                    <a href="{{ link.url }}" class="hover:underline">{{ link.title }}</a>
                    {%- if link.links.size > 0 -%}
                      <ul class="footer-link-sub">
                        {%- for child_link in link.links -%}
                          <li>
                            <code>&gt;</code><a href="{{ child_link.url }}" class="hover:underline">{{ child_link.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="w-full bg-[#1a2530] py-6 font-serif text-sm text-white text-center leading-tight">
  {%- liquid
    assign current_year = 'now' | date: '%Y'
    assign copyright_template = section.settings.copyright_text | default: '© %Y %s'
  -%}
  {{ copyright_template | replace: '%Y', current_year | replace: '%s', shop.name }}
</div>

{% schema %}
{
  "name": "フッター",
  "settings": [
    {
      "type": "header",
      "content": "フッター情報"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "フッター用ロゴ画像"
    },
    {
      "type": "text",
      "id": "company_name",
      "label": "会社名",
      "default": "株式会社カワセ楽器"
    },
    {
      "type": "text",
      "id": "company_address",
      "label": "住所",
      "default": "東京都千代田区神田小川町2-4"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "電話番号",
      "default": "03-3291-2723"
    },
    {
      "type": "textarea",
      "id": "business_hours",
      "label": "営業時間",
      "default": "営業時間:10:00~19:00 (18:00日祝)\n水曜定休(祝日と重なる場合は営業)"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "ボタンのラベル",
      "default": "詳しく見る"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "ボタンのリンク先"
    },
    {
      "type": "header",
      "content": "フッターメニュー"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "メニュー1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "メニュー2"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "メニュー3"
    },
    {
      "type": "header",
      "content": "その他"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "背景画像"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "コピーライト表記",
      "default": "© %Y %s",
      "info": "%Yは現在の年に、%sはショップ名に自動で置き換わります。"
    }
  ],
  "presets": [
    {
      "name": "フッター"
    }
  ]
}
{% endschema %}
