{% comment %}
  section.id を使って、このセクションに固有のCSSを適用します。
{% endcomment %}
{%- style -%}
  #hero-section-{{ section.id }}:before {
    {% if section.settings.background_image_mobile != blank %}
      background-image: url('{{ section.settings.background_image_mobile | image_url: width: 750 }}');
    {% else %}
      {% comment %} スマホ用のデフォルト背景画像を指定 {% endcomment %}
      background-image: url('{{ "top__hero_bg_sp.jpg" | asset_url }}');
    {% endif %}
  }

  @media screen and (min-width: 768px) {
    #hero-section-{{ section.id }}:before {
      {% if section.settings.background_image_desktop != blank %}
        background-image: url('{{ section.settings.background_image_desktop | image_url: width: 1920 }}');
      {% else %}
        {% comment %} PC用のデフォルト背景画像を指定 {% endcomment %}
        background-image: url('{{ "top__hero_bg.jpg" | asset_url }}');
      {% endif %}
    }
  }
{%- endstyle -%}

<section 
  id="hero-section-{{ section.id }}" 
  class="hero-section init -mx-2 md:-mx-[30px] h-screen md:h-[56.25vw] lg:h-screen flex flex-col items-center justify-center text-white relative before:absolute before:block before:inset-0 before:bg-cover before:bg-center" 
  aria-labelledby="hero-heading-{{ section.id }}">

  <div class="container h-full flex flex-col items-center justify-center relative z-10">
    <div class="hero-section__logo w-[80%] md:w-[46.1538461%] mx-auto">
      {%- liquid
        assign hero_logo = 'top__hero_logo-min.png' | asset_url
        assign hero_alt = section.settings.logo_image.alt | default: 'Hero logo' | escape
        assign hero_w = 248
        assign hero_h = 73
        if section.settings.logo_image != blank
          assign hero_logo = section.settings.logo_image | image_url: width: 800
          assign hero_h = 248 | divided_by: section.settings.logo_image.aspect_ratio | round
          endif
      -%}
      <img 
        src="{{ hero_logo }}" 
        alt="{{ hero_alt }}"
        class="w-full h-auto"
        width="{{ hero_w }}"
        height="{{ hero_h }}"
        loading="eager">
    </div>

    {% if section.settings.heading_text != blank %}
      <div id="hero-heading-{{ section.id }}" class="hero-section__heading text-2xl xl:text-[33px] text-center text-[#ffe1be] leading-[1.4] mt-6">
        <div class="relative block">{{ section.settings.heading_text }}</div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "ヒーローセクション",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "背景画像（PC）"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "背景画像（スマホ）"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "中央のロゴ画像"
    },
    {
      "type": "richtext",
      "id": "heading_text",
      "label": "見出しテキスト",
      "default": "<p>あらゆる場面に対処できる<br>長年の経験と技術</p>"
    }
  ],
  "presets": [
    {
      "name": "ヒーローセクション"
    }
  ]
}
{% endschema %}
